---
import BaseLayout from "../layouts/BaseLayout.astro";
import Copiable from "../components/Copiable.jsx"
---

<BaseLayout>
	<section class="py-40 flex flex-col items-center justify-center">
		<div class="text-center">
			<h1 class="text-4xl sm:text-6xl lg:text-7xl leading-none font-extrabold tracking-tight text-gray-900 mb-4">Guillotin</h1>

			<p class="max-w-screen-lg text-lg sm:text-2xl sm:leading-10 font-medium mb-10 sm:mb-11 text-gray-600">Collection of Headless Components for demanding developers</p>
		</div>

		<div class="flex gap-6 text-xl">
			<a href="/docs" class="border border-green-700 rounded-lg bg-green-600 py-4 px-8 text-white font-semibold shadow">Get Started</a>

			<Copiable client:idle value="npm install @guillotin/solid" />
		</div>
	</section>
</BaseLayout>