.container {
  width: 20rem;
  background-color: #f0fdf4;
  border: 0px;
  border-left: 4px;
  border-color: #4ade80;
  border-style: solid;
  padding: 1rem;
  position: relative;
}

.close {
  cursor: pointer;
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;
  background-color: inherit;
  position: absolute;
  right: 0;
  top: 0;
  width: 1rem;
  color: #4ade80;
  margin: 0.75rem;
}

.message {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
  color: #22c55e;
  margin-right: 0.5rem;
  flex-shrink: 0;
}

.content {
  display: flex;
  align-items: center;
}

.progressBar {
  height: 2px;
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgba(209, 250, 229, var(--tw-bg-opacity));
}
